DATABASE_URL=postgresql://user:password@localhost/databasename
GOOGLE_MAPS_API_KEY=your_google_maps_api_key
REST_COUNTRIES_API_KEY=your_rest_countries_api_key
EXCHANGE_RATE_API_KEY=your_exchangerate_api_key